.explore-page{
    width: 100%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
}
.like-block-visit-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.like-block-visit-btn li{
    padding: 7px 40px;
    background-color: rgb(222, 152, 187);
    border-radius: 15px;
    font-size: 13px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.like-block-visit-btn li:hover{
    background-color: #D91275;
}
.like-block-visit-btn .item-selected{
    background-color: #D91275;
}



@media(max-width:600px){
    .like-block-visit-btn li{
        padding: 7px 20px;
    }
}

@media(max-width:420px){
    .like-block-visit-btn li{
        padding: 7px 8px;
        font-size: 11px;
    }
}