.app-Layout{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 40px 180px;
    gap: 30px;
    background-color:#F6F6F6 ;
}

/* .activePopup{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 40px 180px;
    gap: 30px;
    background-color:#F6F6F6 ;
}
.activePopup::before{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgb(230, 230, 230);
} */

.display-none{
    display: none;
}

.layout{
    width: 100%;
    height: auto;
}

@media(max-width:860px){
    .app-Layout{
        width: 100%;
        height: 100%;
        display: flex;
        padding: 40px 10px;
        gap: 30px;
        background-color:#F6F6F6 ;
    }
}

@media(max-width:600px){
    .app-Layout{
        width: 100%;
        height: 100%;
        display: flex;
        padding: 40px 10px;
        gap: 30px;
        background-color:#F6F6F6 ;
    }


    .container{
        height: 100vh;
    }
}