.usersCard {
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 30px;
}

.userCard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.userCard-header h1 {
  font-size: 17px;
}
.userCard-header h4 {
  font-size: 13px;
  color: #d91275;
}

.usercardButton{
  width: 100%;
  height: 35px;
  border-radius: 10px;
  background-color: #e488b6;
  position: relative;
  display: flex;
  overflow: hidden;
  margin-bottom: 15px;
}
.leftBtn{
  height: 100%;
  width: 50%;
  background-color: #D91275;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.rightBtn{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.usercardButton h3{
  font-size: 15px;
}

.users-list {
  padding: 10px;
}

.avtar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #d91275;
  height: 55px;
  cursor: pointer;
}
.avatar-image-contant {
  display: flex;
  align-items: center;
  gap: 20px;
}
.avarat-cercle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.avatar-name h1 {
  font-size: 14px;
}
.avatar-name h4 {
  font-size: 12px;
}

.avtar-menu p {
  font-weight: bold;
  font-size: 11px;
}
